<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Все пользователи</title>
</head>
<body>

<p><a href="/users/new">Create user</a></p>

<div th:switch="${users}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table border="1">
            <thead>
            <tr>
                <th>Id</th>
                <th>Имя</th>
                <th>Username</th>
                <th>Email</th>
                <th>Возраст</th>
                <th>Пароль</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.age}"></td>
                <td th:text="${user.password}"></td>
                <td><a th:href="@{update_user/{id}(id=${user.id})}">Edit</a></td>
                <td><a th:href="@{delete_user/{id}(id=${user.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>